body {
    background-color: #5A5A5A;
    font-family: Consolas, sans-serif;
    font-size: 1em;
    color: #FFFFFF;
}

.darci-section {
    background-color: #FFFFFF;
    color: #5A5A5A
}

.dk-span {
    font-size: 2em;
    color: #70AD47;
}
.dk-cloud {
    font-size: 3em;
}

.list-group {
    color: #ED7D31;
    font-size: 2em;
}

.myfooter {
    color: #ED7D31;
    font-size: 1.5em;
}