<div class="container darci-section">
  <h2>Lotto number generator with probabilty</h2>

  <h3>Choose your game</h3>
  <ul class="list-group">
    <li class="list-group-item">1. Lotto</li>
    <li class="list-group-item">2. Powerball</li>
    <li class="list-group-item">3. Megamillions</li>
  </ul>

  <form method="post" action="/start" class="form-inline">
    <label class="sr-only" for="inlineFormInput">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
           id="inlineFormInput" name="game_mode" placeholder="gamemode">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
