<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css" media="all">

  <title><%= @page_title %></title>
</head>
<body>

  <nav class="navbar navbar-default darci-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Dkhey" src="#">
        </a>
      </div>
    </div>
  </nav>

<%= yield %>

<div class="container myfooter">
  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; Darci Khey 2017</p> <small>If you happen to win the lottery with this app, I get half</small>
    </div>
  </footer>
</div>
</body>
</html>