<div class="container">
  <div class="col-md-6">
    <h2>The winning numbers for the <%= @view %> are:</h2>
    <% @numbers.each do |num| %>
        <span class="dk-span"><%= num %></span>
    <% end %>

  </div>
    <h3>The changes for you to win the game of <%= @view %> are </h3>

  <div class="col-md-6">


  </div>
</div>

